<div class="row">
    <div class="sixteen wide center aligned column">
        <a class="item" href="https://github.com/bono13"><i class="big github icon"></i></a>
    </div>
</div>
</div>
</body>
</html>