
<header class="main-header">
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<!-- homepage -->
			<li class="main-header__item">
				<a class="<%= path === '/home' ? 'active' : '' %>" href="/home"> Home </a>
			</li>
			<!-- Categories -->
			<li class="main-header__item">
				<a class="<%= path === '/categories' ? 'active' : '' %>" href="/categories"> Categories </a>
			</li>
			<!-- items -->
			<li class="main-header__item">
				<a class="<%= path === '/items' ? 'active' : '' %>" href="/items"> Items </a>
			</li>
		</ul>
	</nav>
</header>
