<div class="row">
    <div class="sixteen wide center aligned column"><h1></h1></div>
</div>
<div class="row">
    <div class="three wide column">
        <div class="ui secondary vertical menu">
            <div class="item">
                <div class="header">
                    <p><a href="/">Home</a></p>
                </div>
            </div>
            <div class="item">
                <div class="header"><p>Textbooks</p></div>
                <div class="menu">
                    <div class="item">
                        <p><a href="/items">All items</a></p>
                        <p><a href="/add-item">Add new item</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="header"><p>Categories</p></div>
                <div class="menu">
                    <div class="item">
                        <p><a href="/categories">All Categories</a></p>
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="header"><p>Our Branches</p></div>
                <div class="menu">
                    <div class="item">
                        <p><a href="/branches">All Branches</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    