<%- include('../includes/header.ejs') %> 
<!-- header -->

	</head>
	<body>
		<div class="ui grid">
				<%- include('../includes/sidebar.ejs') %> 
				<!-- sidebar -->

				<!-- add-item specific -->
				<div class="thirteen wide column">
					<h1>Add Item to Inventory</h1>
					<%- include('../includes/form.ejs') %> 
				</div>
			</div>
<!-- footer -->
<%- include('../includes/footer.ejs') %> 