<%- include('./includes/head.ejs') %>

</head>

<body>
    <%- include('./includes/navigation.ejs') %> 
    
<main>
 <h2>Categories will be shown here</h2>
</main>

<a class="<%= path === '/edit-category' ? 'active' : '' %>" href="/edit-category"> Edit Categories </a>

<%- include('./includes/end.ejs') %> 