<%- include('./includes/header.ejs') %> 
		<!-- header -->
	</head>
	<body>
		
		<div class="ui grid">
			<!-- sidebar -->
			<%- include('./includes/sidebar.ejs') %> 
			
				<!-- index.ejs specific -->
				<div class="thirteen wide column">
					<h1>Lingua Mundi Academy</h1>
					<p>Welcome to <em>the Lingua Mundi Inventory App</em>. This app keeps track
						of all the books currently in the Lingua Mundi Academy for languages
					and each of our respective branches. </p>
				</div>
				<!-- index.ejs specific -->

			</div>
			<!-- sidebar -->
<%- include('./includes/footer.ejs') %> 