<%- include('./includes/header.ejs') %> 
		<!-- header -->
	</head>
	<body>
		
		<div class="ui grid">
			<!-- sidebar -->
			<%- include('./includes/sidebar.ejs') %> 
			
				<!-- index.ejs specific -->
				<div class="thirteen wide column">
					<h1>Fridge App</h1>
					<p>Welcome to <em>Fridge App</em>, a simple fridge item tracking App</p>
				</div>
				<!-- index.ejs specific -->

			</div>
			<!-- sidebar -->
<%- include('./includes/footer.ejs') %> 