body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font-size: medium;
}

a {
  color: #00B7FF;
  font-size: 16px;
}

label, input {
  display: block;
}

label {
  margin-top: 20px;
  margin-bottom: 5px;
}
