<%- include('../includes/header.ejs') %> 
<!-- header -->
	</head>
	<body>
		<div class="ui grid">
			<!-- sidebar -->
			<%- include('../includes/sidebar.ejs') %> 

				<div class="thirteen wide column">
					<h1>Edit Item</h1>
				<%- include('../includes/form.ejs') %> 
				</div>
			</div>
<!-- footer -->
<%- include('../includes/footer.ejs') %> 

